html {
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: rgb(var(--v-theme-secondary));

  body {
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    margin: 0;
    padding: 0;

    background: url('../../assets/imgs/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    #app {
      height: 100%;
      overflow-y: auto;
      /* overscroll-behavior: contain;*/
    }
  }
}
