html,
body {
  height: 100vh;
  height: 100dvh;
  margin: 0;
  padding: 0;

  .v-application {
    background-color: rgb(var(--v-theme-primary)) !important;
    background-image: url('@/assets/imgs/background.png') !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-attachment: fixed !important;
  }
}

.bg-light {
  background: rgb(var(--v-theme-primaryLight));
}
