html,
body {
  height: 100vh;
  height: 100dvh;
  margin: 0;
  padding: 0;

  .v-application {
    background-color: rgb(var(--v-theme-primary));
    background-image: url('@/assets/imgs/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}

.bg-light {
  background: rgb(var(--v-theme-primaryLight));
}
